-e .
bumpversion
wheel
tox
twine

# Tests
pytest>=4,<5
pytest-django==3.8.0
pytest-pythonpath==0.7.3
pytest-flake8==1.0.4
pytest-cov==2.8.1
mock==3.0.5
pytest-splinter==2.0.1
chromedriver-binary==2.40.1
pytest-ngrok

# Docs

recommonmark
Sphinx
alabaster

